{% extends 'base.html.twig' %}

{% block title %}PARTENAIRE!{% endblock %}

{% block body %}

    <h1>Premier fichier pdf</h1>
    <h1> CONTRAT DE CREATION DE COMPTE WARI  </h1>

        
{% endblock %}
